{% set from = {} %}
{% if message.from is not null  %}
    {% set from = from | merge([ message.from ]) %}
{% endif %}
{% if message.email is not null  %}
    {% set from = from | merge([ message.email ]) %}
{% endif %}

<article>
    <header>
        <p class="date">{{ message.createdAt | date('d/m/Y H:i:s', 'Europe/Paris') }}</p>
        {% if from | length > 0 %}
        <p>{{ from | join(', ') }}</p>
        {% endif %}
        {% if message.subject %}
        <h2 class="subject">{{ message.subject }}</h2>
        {% endif %}
    </header>
    <p class="content">{{ message.message }}</p>
</article>