{% extends 'layout/admin.html.twig' %}

{% set title = 'admin.countries.title' | trans %}

{% block head_title %}
{{ title }}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block body %}
    {% if countries | length > 0 %}
    <table>
        <tbody>
            {% for country in countries %}
                {% set edit_path = path('app_admin_countries_edit_index', { 
                    countryCode: country.code | lower
                }) %}
                {% set edit_alt_label = 'admin.countries.list.edit.alt_label' | trans({ 
                    name: country.name
                }) %}
                {% set edit_image_alt_label = 'admin.countries.list.image.alt_label' | trans({
                    name: country.name
                }) %}

                {% include 'admin/countries/_list_item.html.twig' with { 
                    state: country,
                    edit_alt_label: edit_alt_label,
                    edit_path: edit_path,
                    edit_image_alt_label: edit_image_alt_label,
                    images_directory: 'images/countries/small/'
                } only %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}

        {% set empty_anchor_label = 'admin.countries.empty_anchor_label' | trans %}
        {% set empty_anchor_alt = 'admin.countries.empty_anchor_alt' | trans %}
        {% set empty_anchor_url = path('app_admin_countries_add_index') %}
        {% set add_anchor = anchor(empty_anchor_label, empty_anchor_alt, empty_anchor_url) %}

    <p>{{ 'admin.countries.empty' | trans({ anchor: add_anchor }) | raw }}</p>
    {% endif %}
{% endblock %}