{% form_theme form 'forms/fields.html.twig' %}

{% set method = method | default('post') %}
{% set isValid = form.vars.valid %}
{% set attributes = attributes | default([]) %}

{% if isValid == false %}
    {% set attributesClasses = (attributes.class | default('') ~ ' errors') | trim %}
    {% set attributes = attributes | merge({
        class: attributesClasses
    }) %}
{% endif %}

{% set submitLabel = submitLabel | default('default.submit.label' | trans([], 'form')) %}

{{ form_start(form, { attr: attributes }) }}
    {% set inputs = form.children | filter((value, key) => key != '_token') %}
    {% block inputs %}
        {% for input in inputs %}
        {{ form_row(input) }}
        {% endfor %}
    {% endblock %}

    <div class="form-input form-input-submit">
        <input type="submit" value="{{ submitLabel }}" />
    </div>
{{ form_end(form) }}
