{% extends 'layout/admin.html.twig' %}

{% block headTitle %}
Connexion au panneau d'administration
{% endblock %}

{% block body %}
<h1>Connexion au panneau d'administration</h1>
{{ form|raw }}
{% endblock %}