{% extends 'layout/admin.html.twig' %}

{% set title = 'admin.title' | trans %}

{% block headTitle %}
{{ title }}
{% endblock %}

{% block pageTitle %}
{{ title }}
{% endblock %}

{% block body %}
<p>{{ 'admin.index.choice' | trans }}</p>
{% endblock %}