{%- if items | length > 1 -%}
<ul id="breadcrumb">
	{%- for index, item in items -%}
	<li>
		{%- if item.routeName is not empty and loop.index < loop.length -%}
		<a href="{{ url(item.routeName, item.routeParameters) }}" title="{{ item.altLabel | trans([], 'breadcrumb')  }}">{{ item.label | trans([], 'breadcrumb') }}</a> 
		{%- else -%}
		{{ item.label | trans([], 'breadcrumb') }}
		{%- endif -%}
	</li>
	{%- endfor -%}
</ul>
{%- endif -%}