{% extends "layout/base.html.twig" %}

{% set title = 'error.title' | trans({ 'code': code }) %}

{% block headTitle %}
{{ title }}
{% endblock %}

{% block pageTitle %}
{{ title }}
{% endblock %}

{% block body %}
<p>{{ message }}</p>
{% endblock %}