{% extends 'layout/base.html.twig' %}

{% set title = 'maintenance.title' | trans %}

{%- block headTitle -%}
{{ title }}
{%- endblock -%}

{%- block pageTitle -%}
{{ title }}
{%- endblock -%}

{% block body %}
<p>{{ 'maintenance.informations' | trans }}</p>
{% endblock %}