<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block head_title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('site') }}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div id="site">
        {% apply spaceless %}

            {% use 'ui/menus/header.html.twig' with header as site_parent_header %}

            {% block site_header %}
            {{ block('site_parent_header') }}
            {% endblock %}

            <div id="main-content">
                {% block content_header %}
                <header id="content">
                    {% block breadcrumb %}
                    {% include 'ui/menus/breadcrumb.html.twig' with { items: breadcrumb.items } only %}
                    {% endblock %}
                    <h1>{% block page_title %}{% endblock %}</h1>
                </header>
                {% endblock %}

                {% block body %}{% endblock %}
            </div>

        {% endapply %}
        </div>
    </body>
</html>
