{% extends 'layout/base.html.twig' %}

{%- block headTitle -%}
Maintenance
{%- endblock -%}

{% block body %}
<h1>Maintenance</h1>
<p>Le site est actuellement en maintenance. Vous pourrez rafraîchir cette page dans quelques minutes.</p>
{% endblock %}